body {
  margin: 0;
  overflow: hidden;
}

.banner {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1000;
}

.banner-inner {
  display: flex;
  width: calc(100% * 4);
  animation: scroll 8s linear infinite;
}

.banner img {
  width: 25%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
